.pet1 {
  width:200px;
  float:left;
  margin:10px;
  border:4px black;
  padding:4px;
  background-color:red;
  box-sizing:border-box;
}

.pet2 {
  width:200px;
  float:left;
  margin:10px;
  border:4px black;
  padding:4px;
  background-color:orange;
  box-sizing:border-box;
}

.pet3 {
  width:200px;
  float:left;
  margin:10px;
  border:4px black;
  padding:4px;
  background-color:yellowgreen;
  box-sizing:border-box;
}

.pet4 {
  width:200px;
  float:left;
  margin:10px;
  border:4px black;
  padding:4px;
  background-color:blue;
  box-sizing:border-box;
}

.pet5 {
  width:200px;
  float:left;
  margin:10px;
  border:4px black;
  padding:4px;
  background-color:purple;
  box-sizing:border-box;
}

#photo {
  width:140px;
  margin:auto;
}

body p {
  text-align:center;
  font-family:Georgia, 'Times New Roman', Times, serif;
}