.pet1 {
  width:30%;
  float:left;
}

.pet2 {
  width:30%;
  float:left;
}
.pet3 {
  width:30%;
  float:left;
}

.pet4 {
  width:30%;
  float:left;
}

.pet5 {
  width:30%;
  float:left;
}

#photo {
  width:30%;
  margin:auto;
}

body p {
  text-align:center;
  font-family:Georgia, 'Times New Roman', Times, serif;
}